<div class="container">
    <div class="text-center">
        <a routerLink="/Freg">
            <br />
            <button class="btn btn-primary" type="submit">Sign up as farmer</button>
        </a>
        &nbsp; &nbsp;
        <a routerLink="/Breg">
            <button class="btn btn-primary" type="submit">Sign up as Bidder</button>
        </a>
        <br />
        <br /><br />
        <br />
        <img src="https://www.pngitem.com/pimgs/m/464-4647105_registration-of-partnership-firm-hd-png-download.png"
            alt="register" class="image" />
    </div>
</div>