<form>


  
    <div>
        <ul>
            <li><label for=""> Crop-id</label></li>
            <li><input type="text"></li><br>
            <li><label for="">Crop-Name</label></li>
            <li><input type="text"></li><br>
            <li><label for="">Crop-Type</label></li>
            <li><input type="text"></li><br>
            <li><label for="">Fertilizer</label></li>
            <li><input type="text"></li><br>
            <li><label for="">Quantity</label></li>
            <li><input type="text"></li><br>
            <li><label for="">Base-Price</label></li>
            <li><input type="text"></li><br>
            
        </ul>
    </div>
        <div>
            <ul>
                <li><label>Bid-Id</label></li>
                <li><input type="text"></li><br>
                <li><label>Date</label></li>
                <li><input type="Date"></li> <br>
                <li><label>Amount</label></li>
                <li><input type="text"></li><br>
                <input type="button" value="Submit">
            </ul>
        </div>

</form>
