<div class="container">
    <table class="table table-striped" *ngIf="crops && crops.length > 0 else elseBlock">
        <thead>
            <tr>
                <th>Crop Id</th>
                <th>Crop Name</th>
                <th>Crop Type</th>
                <th>Fertilizer</th>
                <th>Quantity</th>
                <th>Base price</th>
                <th>Add-Bid</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let crop of crops" style="text-align: center;">
                <td>{{crop.cropId}}</td>
                <td>{{crop.cropName}}</td>
                <td>{{crop.cropType}}</td>
                <td>{{crop.fertilizer}}</td>
                <td>{{crop.quantity}}</td>
                <td>{{crop.basePrice}}</td>


                <td>
                    <i class="fa fa-plus-square" (click)=addbid(crop)></i>
                </td>

            </tr>
        </tbody>

    </table>
    <ng-template #elseBlock>
        <h4 align="center"> There are no Crops to display,please add Crops! </h4>
    </ng-template>

</div>