<div class="container">
    <form #cropForm="ngForm">
        <div class="form-group">
            <div class="flex-item-left"><label>Crop Id</label></div>
            <div class="flex-item-right"><input required type="text" name="cropId"
                    [(ngModel)]="crop.cropId" readonly="readonly" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="flex-item-left"><label>Crop Type</label></div>
            <div class="flex-item-right"><input required type="text" name="cropType" 
                    [(ngModel)]="crop.cropType" readonly="readonly" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="flex-item-left"><label>Crop Name</label></div>
            <div class="flex-item-right"><input required type="text" name="cropName" 
                    [(ngModel)]="crop.cropName" readonly="readonly" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="flex-item-left"><label>Fertilizer</label></div>
            <div class="flex-item-right"><input required type="text" name="fertilizer"
                    [(ngModel)]="crop.fertilizer" readonly="readonly" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="flex-item-left"><label>Quantity</label></div>
            <div class="flex-item-right"><input required type="text" name="quantity" 
                    [(ngModel)]="crop.quantity" readonly="readonly" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="flex-item-left"><label>Base Price</label></div>
            <div class="flex-item-right"><input required type="text" name="basePrice" 
                    [(ngModel)]="crop.basePrice" readonly="readonly" class="form-control"></div>
        </div>
    </form>

</div>


<div class="container">
    <form #addBid="ngForm" (ngSubmit)='onSubmit(addBid.value)'>
        <div clas="form-group">
            <label for="">Bid-Id</label>
            <input required minlength='1' type="number" min="1" #bidIdRef='ngModel' name='id' ngModel
                class="form-control">
            <div *ngIf='bidIdRef.errors && bidIdRef.touched' class="alert alert-danger">
                <div [hidden]='!bidIdRef.errors?.required'>Provide Bid-Id</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Bid-Date</label>
            <input required type="date" #bidDate='ngModel' name="name" ngModel class="form-control">
            <div *ngIf='bidDate.errors && bidDate.touched' class="alert alert-danger">
                <div [hidden]='!bidDate.errors?.required'>Provide Bid-Date(mm-dd-yyyy)</div>

            </div>
        </div>
        <div class="form-group">
            <label for="">Amount</label>
            <input type="number" min="100" #bidAmount='ngModel' name="name" ngModel class="form-control">
            <div *ngIf='bidAmount.errors && bidAmount.touched' class="alert alert-danger">
                <div [hidden]='!bidAmount.errors?.required'>Bid-Amount should be more than Base-price.</div>

            </div>
        </div>
        <input [disabled]="!addBid.valid" type="submit" value="Add-Bid" class="btn btn-primary">

    </form>

</div>
