.field {
  width: 100%;
}
.card {
  width: 20%;
  margin: auto;
  background-color: white;
  padding: 20px;
}
.container {
  margin-top: 10px;
}
.button {
  width: 100px;
}
body {
  background-color: blue;
}
.text-centre {
  text-align: center;
}
.card button {
  margin: 5px;
}
