* {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 20em;
  width: 100%;
  height: 10em;
  margin: -5em -10em;
  text-align: center;
}

.slogan {
  position: relative;
  display: block;
  overflow: hidden;
  width: 0em;
  height: 1.25em;
  margin: 1em auto;
  font-size: 2em;
  line-height: 1.5em;
  border-right: 0.125em solid #39f;
  box-sizing: content-box;
  animation-name: blink-start, typing, blink-end;
  animation-duration: 1s, 1s, 1s;
  animation-timing-function: linear, steps(13, end), linear;
  animation-delay: 0s, 1s, 2s;
  animation-iteration-count: 1, 1, infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.slogan span {
  display: block;
  width: 7em;
}

@keyframes typing {
  from {
    width: 0em;
  }
  to {
    width: 6em;
  }
}
.image {
  align-items: center;
  padding-left: 550px;
}
