<!-- Bidder -->

<h3>Bidder</h3>

<div id="div2">
    <!-- user -->
    <form #userform1="ngForm" (ngSubmit)="adduser(userform1.value)">
        <h3>user</h3>
        <div class="flex-container">
            <div class="flex-item-left"><label>Bidder ID </label></div>
            <div class="flex-item-right">
                <input required type="text" name="bidderId" #bidderId="ngModel" id="bidderId" ngModel />
            </div>
            <div *ngIf="fullname.errors && fullname.touched" class="alert alert-danger">
                <div [hidden]="!fullname.errors?.required">Provide name</div>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-container">
                <div class="flex-item-left"><label>User Id: </label></div>
                <div class="flex-item-right">
                    <input required type="text" name="userId" #userid="ngModel" ngModel id="userid" />
                </div>
                <div class="flex-container">
                    <div class="flex-container">
                        <div class="flex-item-left"><label>Password: </label></div>
                        <div class="flex-item-right">
                            <input required type="text" name="Password" #password="ngModel" ngModel id="password" />
                        </div>
                        <div class="flex-container">
                            <div class="flex-container">
                                <div class="flex-item-left"><label>Full Name: </label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="fullname" #fullname="ngModel" id="fullname"
                                        ngModel />
                                </div>
                                <div *ngIf="fullname.errors && fullname.touched" class="alert alert-danger">
                                    <div [hidden]="!fullname.errors?.required">Provide name</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-container" id="farmerdiv">
                            <div class="flex-container">
                                <div class="flex-item-left"><label>Mobile: </label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="mobile" #mobile="ngModel" pattern="[0-9]{10}"
                                        ngModel id="mobile" />
                                </div>
                                <div *ngIf="mobile.errors && mobile.touched" class="alert alert-danger">
                                    <div [hidden]="!mobile.errors?.required">Provide Mobile</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-container" id="farmerdiv">
                            <div class="flex-container">
                                <div class="flex-item-left"><label>Address: </label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="address" #address="ngModel" ngModel
                                        id="address" />
                                </div>
                                <div *ngIf="address.errors && address.touched" class="alert alert-danger">
                                    <div div [hidden]="!address.errors?.required">
                                        Provide Address
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-container" id="farmerdiv">
                            <div class="flex-container">
                                <div class="flex-item-left"><label>Aadhar: </label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="Aadhar" #aadhar="ngModel" ngModel id="aadhar" />
                                </div>
                                <div *ngIf="aadhar.errors && aadhar.touched" class="alert alert-danger">
                                    <div hidden]="!aadhar.errors?.required">Provide Aadhar</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-container" id="farmerdiv">
                            <div class="flex-container">
                                <div class="flex-item-left"><label>city</label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="city" #city="ngModel" ngModel id="city" />
                                </div>
                                <div *ngIf="city.errors && city.touched" class="alert alert-danger">
                                    <div [hidden]="!city.errors?.required">Provide city</div>
                                </div>
                            </div>

                            <div class="flex-container">
                                <div class="flex-item-left"><label>License No:</label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="LicenseNo" #licenseno="ngModel" ngModel
                                        id="licenseno" />
                                </div>
                                <div *ngIf="licenseno.errors && licenseno.touched" class="alert alert-danger">
                                    <div [hidden]="!licenseno.errors?.required">
                                        Provide license number
                                    </div>
                                </div>
                            </div>

                            <div class="flex-container">
                                <div class="flex-item-left"><label>Pan No:</label></div>
                                <div class="flex-item-right">
                                    <input required type="text" name="PanNo" #panno="ngModel" ngModel id="panno" />
                                </div>
                                <div *ngIf="panno.errors && panno.touched" class="alert alert-danger">
                                    <div [hidden]="!panno.errors?.required">
                                        Provide pan number
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Sign up as Bidder
                        </button>
                        <!-- </form> -->
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </form>
</div>

