<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>crop bidding Application</title>
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon" />
    <!-- Bootstrap , fonts & icons  -->
    <link rel="stylesheet" href="/src/styles.css" />

    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap"
        rel="stylesheet" />

    <!-- Vendor stylesheets  -->
    <link rel="stylesheet" href="/src/styles.css" />
    <!-- Custom stylesheet -->
</head>

<body>

    <div class="hero-area-l0 position-relative">
        <div class="container">
            <div class="row position-relative justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-10 order-lg-1 order-1" data-aos="fade-right"
                    data-aos-delay="300" data-aos-duration="1000">
                    <div class="content">
                        <h1>Welcome To,<br />Crop Bidding System</h1>
                        <p style="vertical-align: middle">
                            A B2B DIGITAL MARKETPLACE WHERE FAIR FOOD TRADE IS MADE EASY,
                            FAST AND TRANSPARENT!
                        </p>
                    </div>
                </div>
                <div class="
              offset-xxl-1
              col-xxl-6 col-xl-6 col-lg-5 col-md-8
              order-lg-1 order-0
            " data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
                    <div class="">
                        <img src="/src/assets/bidding.jpg" alt="" class="w-500" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Getting Started -->
    <div class="feature-area-l0 position-relative">
        <div class="shape-bottom-right w-100 z-index-1">
            <img src="image/l1/l1-featrues-bg-shape.svg" alt="" class="w-100" />
        </div>
        <div class="container">
            <div class="row">
                <div class="section-heading-4 col-md-12 text-center">
                    <h2>Getting Started</h2>
                    <p>
                        =Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Similique vel quo rem sequi perspiciatis animi ex saepe quod
                        quidem, a, ab dolorem illo reprehenderit atque? Quasi dolor id
                        minima perspiciatis.
                    </p>
                </div>
            </div>
            <div class="row single-features-l10-items justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-9" data-aos="fade-right" data-aos-delay="300"
                    data-aos-duration="1000">
                    <div class="single-features">
                        <span class="feature-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37">
                                <g>
                                    <g>
                                        <g>
                                            <path class="mypath1" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M29.434 17.474A14.5 14.5 0 0 1 30 21.5C30 29.508 23.508 36 15.5 36S1 29.508 1 21.5 7.492 7 15.5 7c1.398 0 2.751.198 4.03.567">
                                            </path>
                                        </g>
                                        <g>
                                            <path class="mypath2" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M16 29a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path>
                                        </g>
                                        <g>
                                            <path class="mypath3" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M16 21L35 2"></path>
                                        </g>
                                        <g>
                                            <path class="mypath4" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M31.286 5.714v0L29.714 1v0L25 5.714v0l1.571 4.715v0L31.286 12v0L36 7.286v0z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h4>Post crop as a farmer</h4>
                        <p>
                            As a Farmer, you can post offers for the agricultural crop you
                            are looking to sell, and gain immediate access to
                            credit-verified buyers. Or simply react to an existing buyer’s
                            bid and start your transaction.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-9" data-aos="fade-up" data-aos-delay="300"
                    data-aos-duration="1000">
                    <div class="single-features">
                        <span class="feature-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="35" viewBox="0 0 37 35">
                                <g>
                                    <g>
                                        <g>
                                            <path class="mypath1" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M29.637 7.36v0h3.182a3.182 3.182 0 0 1 3.182 3.182v13.523a3.182 3.182 0 0 1-3.182 3.181h-3.182v6.364l-9.545-6.364v0H16.91v0">
                                            </path>
                                        </g>
                                        <g>
                                            <path class="mypath2" fill="none" stroke="#f46f7c" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2"
                                                d="M26.455 1H4.182A3.182 3.182 0 0 0 1 4.182v13.523a3.182 3.182 0 0 0 3.182 3.181h3.182v7.955L18.5 20.886v0h7.955a3.182 3.182 0 0 0 3.181-3.181V4.182A3.182 3.182 0 0 0 26.455 1z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h4>Post Bid as a Bidder</h4>
                        <p>
                            As a bidder, you can post bids for the agricultural crop you are
                            looking to buy. Communicate with the farmers what you are
                            looking for, and get rapid reactions from interested farmers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div class="content-area-l10-1">
        <div class="container">
            <div class="
            row
            align-items-center
            justify-content-lg-start justify-content-center
          ">
                <div class="col-lg-5 col-md-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="content-img pr-9 pl-13">
                        <img src="/src/assets/online-auction-website-landing-page-design-vector-28421471.jpg"
                            alt="services" width="500" height="500" />
                    </div>
                </div>
                <div class="
              offset-xxl-1
              col-xxl-4
              offset-xl-1
              col-xl-5 col-lg-7 col-md-9
            " data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <div class="content section-heading-4">
                        <h2>Our Services</h2>
                        <p>
                            =Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Consequuntur commodi officiis nihil non a quisquam. Nesciunt
                            molestiae beatae, accusamus dolore, voluptas impedit ducimus
                            dolorum sint itaque, libero velit ab? Recusandae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing -->
    <div class="content-area-l10-2 position-relative">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-5 col-lg-7 col-md-9 order-lg-1 order-1" data-aos="fade-up" data-aos-delay="300"
                    data-aos-duration="1000">
                    <div class="content section-heading-4">
                        <h2>Pricing</h2>
                        <p>
                            We price transparently and keep you updated through all steps of
                            the process. Our pricing is based on your transaction’s value &
                            volume.
                        </p>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-5 col-lg-5 col-md-8 order-lg-1 order-0" data-aos="fade-up"
                    data-aos-delay="500" data-aos-duration="2500">
                    <div class="content-img">
                        <img src="/src/assets/grainbag.png" alt="pricing" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area-l10-2-shape-1">
            <img src="image/l1/shape2.svg" alt="" class="w-100" />
        </div>
    </div>
    <!-- features -->
    <div class="content-area-l10-3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <div class="content-img">
                        <img src="/src/assets/features.png" alt="" width="500" height="300" />
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-5 col-lg-7 col-md-9" data-aos="fade-up" data-aos-delay="500"
                    data-aos-duration="1000">
                    <div class="content section-heading-4">
                        <h2>Key Features</h2>
                        <p>
                            "Discover how crop bidding system can benefit you and all other
                            food supply chain"
                        </p>
                    </div>
                </div>
            </div>
        </div>
