<div class="container">
    <h2 class="text-info">Admin Login</h2>
    <form #loginForm="ngForm" class="was-validated" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
            <label for="uname">Admin Id:</label>
            <input type="text" class="form-control" id="userId" placeholder="Enter Admin Id" ngModel name="userId"
                required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ngModel name="password"
                required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
